.GlobalScore {
    
    border-radius: 5%;
    grid-row: span 3 / auto;
}
.GlobalScore-data {
    
    height: 300px;
    overflow-x: hidden; 
     overflow-y: auto; 
}



 .deaths h2 {
    color: darkred;
    font-weight: 700;
    font-size: 2rem;
}

.recovered h2 {
    color: darkgreen;
    font-weight: 700;
    font-size: 2rem;
}

.deaths strong {
    color: darkred;
}
.recovered strong {
    color: darkgreen;
}