header {
    background-color: gray;
    text-transform: uppercase;
    color: lightgray;
    width: 99%;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 50px;
    
}



header h1 {
    text-align: left;
    padding-left: 15px;
    
}